<%= link_to "Return to Group", group_path(@cert.group_id) %>
<h3><%= @cert.first_name %> <%= @cert.last_name %></h3>

<%= link_to "New Claimant", new_cert_claimant_path(@cert), id: "new-claimant", remote: true %>


<ul class="lead" id="claimant-list">
  <%= render @claimants %>
</ul>