<h1>Add a New Group</h1>

<% if @group.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @group.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @group do |f| %>
  <%= f.label :group_number %>
  <%= f.text_field :group_number %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
