<%= link_to "Return to Group Page", groups_path %>
<h1><%= @group.name %></h1>

<p>
  <%= @group.group_number %>
</p>

<%= link_to "New Member", new_group_cert_path(@group) %>



<ul class="lead list-unstyled">
  <% @certs.each do |cert| %>
    <li><%= cert.cert_number %> | <%= link_to cert.last_name + ", " + cert.first_name, cert_path(cert) %></li>
  <% end %>
</ul>
