<%= link_to "Return to Group Page", groups_path %>
<h1><%= @group.name %></h1>

<p>
  <%= @group.group_number %>
</p>

<%= link_to "New Member", new_group_cert_path(@group), id: "new-cert", remote: true %>

<ul class="lead list-unstyled" id="cert-list">
  <%= render @certs %>
</ul>
