<h1><%= @group.name %></h1>

<p>
  <%= @group.group_number %>
</p>

<%= link_to "New Member", new_group_cert_path(@group) %>


<ul class="lead list-unstyled">
  <% @certs.each do |cert| %>
  <li><%= cert.first_name %> <%= cert.last_name %>
    <ul>
      <% cert.claimants.each do |claimant| %>
        <li><%= claimant.first_name %> <%= claimant.last_name %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>
