


<%= form_tag new_refund_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :provider, params[:provider], placeholder: "Enter Provider TIN" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @providers %>
  <%= @providers.name %>
<% else %>
  <%= link_to "New Provider", new_provider_path %>
<% end %>


<%= form_for @refund do |f| %>
  <div class="col-md-5">
    <div class="form-group">
      <%= f.label :amount_requested %>
      <%= f.number_field :amount_requested, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :reason %>
      <%= f.text_area :reason, class: "form-control" %>
    </div>

    <%= f.submit "Submit", class: 'btn btn-default' %>
  </div>
<% end %>