


<%= form_tag new_refund_path, remote: true, :method => 'get' do %>
  <p>
    <%= text_field_tag :provider, params[:provider], placeholder: "Enter Provider TIN" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= render @provider %>

<% if @new_provider %>
<%= @new_provider.name %> 'here is the shit'
<% end %>
<%= form_for @refund do |f| %>
  <div class="col-md-5">
    <div class="form-group">
      <%= f.label :amount_requested %>
      <%= f.number_field :amount_requested, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :reason %>
      <%= f.text_area :reason, class: "form-control" %>
    </div>

    <%= f.submit "Submit", class: 'btn btn-default' %>
  </div>
<% end %>