<h1>All Outstanding Refunds</h1>

<ul class="lead list-unstyled">
  <% @refunds.each do |refund| %>
    <li><%= refund.id %> - <%= refund.amount_requested %> - <%= refund.provider.name %> - <%= refund.claimant.first_name %> <%= refund.claimant.last_name %></li>
  <% end %>
</ul>
