<h1>All Outstanding Refunds</h1>

<ul class="lead list-unstyled">
  <% @refunds.each do |refund| %>
    <li><%= refund.id %> - <%= number_to_currency(refund.amount_requested) %> - <%= refund.provider.name %> - <%= refund.claimant.first_name %> <%= refund.claimant.last_name %> <%= link_to "Edit", edit_refund_path(refund) %></li>
  <% end %>
</ul>
